.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active
{
	background-color: #62200a;
	color: white;
}

.preloader{
	width: 100%;
    transition: height .1s linear;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}